* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { color-scheme: dark }

body {
  --scrollbar-width: 0px;
  min-height: 100vh;
  font-family: "Futura", Arial, Helvetica, system-ui, sans-serif;
  overflow-x: hidden;
}

/* Have the header on it's own take up 100% width, THEN start the grid with the other sections */

/* For .app-logo, may need to set a smaller width and height. Image is currently 512 x 512 px */

.container {
  display: grid;
  grid-template-columns: 0.5fr 3.5fr; /* repeat(4, 1fr) instead? */
}

.sidebar {
  grid-column: 1;
  /* grid-row: 1 / span 2; */
}

  & ul {
    list-style-type: none;
    margin-bottom: 1em;
  }

  & li {
    margin-bottom: 20px;
  }

main {
  grid-column: 2 / 5;
}